[Unit]
Description=Moviescreen API documentation
Wants=network-online.target
After=network-online.target
After=postgresql.service
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=moviescreen
Group=moviescreen
EnvironmentFile=/etc/environment
WorkingDirectory=/home/moviescreen/service
ExecStart=swagger serve --flavor=swagger --no-open --port=8000 --path=/ /home/moviescreen/service/docs.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
